html,body {
	font: normal 12px verdana;
	margin: 0;
	padding: 0;
	border: 0 none;
	overflow: hidden;
	height: 100%;
}

/* 文本信息表格样式 start */
.info_tab {
	border-collapse: collapse;
	margin: 1px 0px 1px 0px;
	font-family: "宋体";
	font-size: 12px;
	color: #333333;
}

.info_tab td {
	height: 20px;
	border: 1px solid #d2e1f1;
	line-height: 20px;
	padding-left: 1px;
	text-align: left;
	padding-right: 1px;
}

.info_tab .tdTitle{
	text-align: right;
}

.info_tab .text{ 
	border: 0px;
	width: 100%;
	background: transparent; 
}

.info_tab input{ 
	width:100%;
}

.info_tab select{ 
	width:100%;
}

.info_tab .tdRed {
	color: red;
}

.info_row {
	background-color: #eff6fc
}

.info_tab .tdRed {
	color: red;
}

.info_row {
	background-color: #eff6fc
}
/* 文本信息表格样式 end */

.rela-form-td {
	text-align: right;
    clear: left;
    display: block;
    float: left;
    padding: 3px 3px 3px 0;
    position: relative;
    z-index: 2;
    font: 12px arial,tahoma,helvetica,sans-serif;
}

/*-------------- [Ext.ux.tabs.StripTools] ----------------*/

.xty_tab-striptools-wrap {
    background: transparent url(../images/core/home/tabstrip-bg.gif) no-repeat -1px 2px;
    border-bottom: 0px solid #8db2e3;
    width:18px;
    position:absolute;
    right:0;
    top:-1px;  
    z-index:9;
}
.xty_tab-striptools-wrap .x-tool{ margin-top:4px}

.xty_tab-striptools-wrap .x-panel{ margin-right:4px}

/*----------------------------修改工具条上按钮的样式------------------------------------*/
.x-toolbar-res .x-btn-tl { background-position: 0 0; }
.x-toolbar-res .x-btn-tr { background-position: -3px 0; }
.x-toolbar-res .x-btn-tc { background-position: 0 -6px; }
.x-toolbar-res .x-btn-ml { background-position: 0 -24px; }
.x-toolbar-res .x-btn-mr { background-position: -3px -24px; } 
.x-toolbar-res .x-btn-mc { background-position: 0 -1096px; }
.x-toolbar-res .x-btn-bl { background-position: 0 -3px; }
.x-toolbar-res .x-btn-br { background-position: -3px -3px; }
.x-toolbar-res .x-btn-bc { background-position: 0 -15px; }

/*------------------------------*/
.x-tree-node-loadException a span{
	 font-style: italic;
	 color: red;
}